body{
	color:#ffd700;
	font-size: 22px;
	line-height: 1.5;
	background-image: url("../images/stardust.png");
}

h1{
	font-size: 80px;
}

label{
	font-size: 30px;
	font-weight: normal;
}

p{
	padding: 10px;
}

#bodyContainer{

}

.clearFix:after{
  	content: "";
  	display: table;
  	clear: both;
}

.form-control{
	border-radius: 4px;
	background:none;
	color:#ffd700;

}

.form-control:focus{
	border: 1px solid #ffd700;
	box-shadow: 0px 0px 5px 0px #ffd700;
}

#giphsContainer{
	margin-top: 20px;
}

.myButton{
	border:2px solid #ffd700;
	text-align: center;
	margin: 5px;
	padding:10px;
	float:left;
	border-radius: 4px;
}

.myButton:hover,
.myButton:active{
	color:#444349;
	background-color:#ffd700;
	cursor:pointer;
}

.myFormRow{
	margin-top: 20px;
}

.myGif{
	max-width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}


#myHeader{
	background-image: url("../images/ep_naturalblack.png");
	position:relative;
	z-index:999;
}

.mySmall{
	color:#777;
}

#mySubmitButton{
	border-radius: 4px;
	border:none;
	width:150px;
	height:50px;
	color:#ffd700;
	background: none;
	cursor: pointer;
	border: 2px solid #ffd700;
}

#mySubmitButton:hover,
#mySubmitButton:active{
	background: #ffd700;
	color: #444349;
}

.page-header{
	border-bottom:none;
}
.row{
	margin-top: 10px;
}


/***********************************************************************************
GIF Styling
***********************************************************************************/
.myCard{
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:70%;
	width:100%;
	background-image: url("../images/ep_naturalblack.png");
}

.myCardWrapper{
	height:280px;
}

.myGifData{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:30%;
	border-radius: 0px 0px 4px 4px;
	background-color:#444349;
	text-align:center;
	color:#777;
}

.myInnerContainer{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	height:97.5%;
	width:97.5%;
}

.myOuterContainer{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:94%;
	height:94%;
	box-shadow: 5px 5px 10px #2f2f2f;
	border-radius: 4px 4px 4px 4px;
	background-color:#777;
	/*background-image: url("../images/ep_naturalblack.png");*/
}

.myOuterContainer:hover,
.myOuterContainer:active{
	cursor: pointer;
	background:#ffd700;
}

.cardImage{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	max-width:100%;
	max-height:94%;
}

/***************************************************************************************************
END Gif Styling
***************************************************************************************************/

@media screen and (max-width: 560px) {
	.myInnerContainer{
		width:96.5%;
	}
}